# env files (do not commit)
.env
.env*.local

# OS
.DS_Store

# Editor
.vscode/
.idea/

# node
node_modules/

# public/ (Astro)
public/node_modules/
public/dist/
public/.astro/
public/.vercel/

# Vercel
.vercel
